.div-screen {
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  background-color: aliceblue;
  flex-direction: column;
}
.container {
  display: flex;
  flex-direction: column;
  height: 30%;
  width: 30%;
  margin-bottom: 10px;
  justify-content: center;
  align-items: center;
  background-color: khaki;
}
.box-container {
  display: flex;
  flex-direction: row;
  height: 40%;
  width: 40%;
  justify-content: center;
  align-items: center;
  background-color: khaki;
  border-color: lightcoral;
  border-style: double;
}
.small-container-first {
  display: flex;
  height: 70%;
  width: 35%;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lavender;
}
.small-container-second {
  display: flex;
  height: 70%;
  width: 35%;
  margin-left: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: lightcoral;
}
